main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   align-self: center;
}

.content_box {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1.5rem;
   max-width: 1800px;
}

.spot-tile {
   display: flex;
   flex-direction: column;
   height: fit-content;
   width: 24.5rem;
}

.spot-image {
   display: grid;
   place-items: center;
   height: 15rem;
   width: 100%;
   cursor: pointer;
   font-size: 1.5rem;
   border-radius: 0.5rem;
}

p {
   text-align: start;
}

.locale-rating {
   display: flex;
   justify-content: space-between;
}

.spot-details {
   padding: 0rem 0.5rem;
   text-align: left;
}
