.rating-input .filled {
  color: rgb(218, 32, 187);
  cursor: pointer;
}

.rating-input .empty {
  color: black;
  cursor: pointer;
}

.rating-input {
  font-size: 1.4rem;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 0rem;
}

#modal-content {
  padding: 1rem;
}

.review-heading {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.review-button {
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  border-width: 1px;
  box-shadow: black 3px 3px 5px;
}
