.booking-block {
   border: 2px solid gray;
   border-radius: 1rem;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 2rem;
   width: 65vw;
}

.price_reviews {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.booking-button {
   background-color: red;
   color: white;
   height: 1.5rem;
}

.booking-button:hover {
   cursor: pointer;
}
