.booking-block {
   border: 2px solid gray;
   border-radius: 1rem;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 2rem;
   width: 65vw;
}

.price_reviews {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.booking-button {
   background-color: #770000;
   color: white;
   width: 100%;
   padding: 0.7rem 4rem;
   margin: 0px auto;
   font-size: 1rem;
   border-width: 1px;
}

.booking-button.enabled {
   box-shadow: black 3px 4px 4px;
   background-color: red;
}

.booking-button.enabled:hover {
   cursor: pointer;
   box-shadow: none;
}
