.main-spot-content {
   text-align: left;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
}

.preview {
   width: 50%;
   height: 22vw;
}

.details {
   display: flex;
}

.divider {
   border: 1px solid gray;
   margin-bottom: 2rem;
}
