.modal-button {
  width: fit-content;
  padding: 1% 2%;
  color: rgb(211, 35, 138);
}

.modal-button.enabled {
  box-shadow: rgb(168, 22, 83) 3px 4px 4px;
}

.modal-button.enabled:hover {
  cursor: pointer;
  box-shadow: none;
}
