body {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
}

button:hover {
   cursor: pointer;
   box-shadow: black 3px 4px 4px;
}

button:disabled {
   background-color: #770000;
   cursor: default;
}

button {
   border-width: 1px;
   box-shadow: black 3px 3px 3px inset;
   background-color: red;
}

input {
   box-shadow: black 1px 1px 3px inset;
   line-height: 1.3rem;
   margin-bottom: 0.6rem;
   outline: none;
}

label {
   text-align: left;
}

.headers {
   font-size: 1.6rem;
   font-weight: bold;
   margin-bottom: 0.9rem;
}

form {
   width: 75%;
   margin: auto;
}

.errors.message {
   color: red;
}
