#root {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-box {
   margin-bottom: 0;
   padding: 0.2rem 0.8rem;
   border-bottom: 2px solid gray;
   background-color: gray;
   border-radius: 1rem;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin-bottom: 4rem;
}

.logo {
   margin: 0;
}

.active {
   text-decoration: none;
}
