.hidden {
   display: none;
}

.profile-dropdown {
   list-style-type: none;
   position: absolute;
   background-color: white;
   padding-inline-start: 0;
   padding: 0.5rem;
   border-radius: 0.5rem;
}
